* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #090909;
}

body {
    position: fixed;

    inset: 0;

    touch-action: none;
}

#app {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;

    width: 100%;
    height: 100%;

    touch-action: none;
}